/* -------------------------------------------------------------- 
  
   Boilerplate Screen Styles
   * Version:   0.5 (2007-11-19)
   
-------------------------------------------------------------- */

@import "lib/reset.css";
@import "lib/typography.css";
@import "lib/forms.css";
@import "lib/plugins.css";


/* Site
-------------------------------------------------------------- */
  
  /* Put your site styles here */
  
  #wrapper{
  	width:960px;
  	margin: 0 auto;
  }
  
  #chromotone{
	display: block;
  	width: 600px;
  	height: 300px;
  	margin: 20px auto;
  	background: #000;
  	color: #fff;
  }
  
  #cromotone img{
  	display: none;
  }